* {
    margin: 0;
    padding: 0;
  }

  body {
    max-width: 100vw; /* Limits the width to the viewport width */
    overflow-x: hidden; /* Hides horizontal overflow */
}

  .nav-link {
    font-size: 20px;
    padding: 10px 15px; /* Tambahkan padding */
    border-radius: 5px; /* Tambahkan border-radius */
  }
  
  .nav-link a {
    color: #1e1e1e; /* Ubah warna teks menjadi putih */
    text-decoration: none;
  }
  
  .nav-link a:hover {
    color: orangered; /* Warna saat di-hover */
  }
  
  .btn-contact {
    background-color: #111727;
    color: white;
    padding: 10px 20px; /* Sesuaikan padding */
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
  }

  .btn-contact:hover{
    color: orangered; /* Warna saat di-hover */
  }
  
  /* Responsive Navigation */
#hamburger-button {
    display: none;
}

.hamburger-nav-container {
    display: none;
}

.hamburger-nav-container a {
    color: white;
    border: 2px solid white;
    background-color: rgb(197, 197, 197);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.hamburger-nav-container .active {
    background-color: orangered;
}

@media only screen and (max-width: 500px) {
    #hamburger-button {
        display: block;
    }

    .nav-collapse {
        display: none;
    }

    .hamburger-nav-container {
        font-size: 23px;
        display: none;
        flex-direction: column;
    }
}
