/* **************************** */
/****** CSS myproject.html ******/
/* *************************** */

/* Container form CSS */
.container2 {
    width: 80%;
    margin: 20px auto;
    justify-content: center;
    max-width: 500px; /* Lebar maksimum form */
    padding: 20px;
}

.container2 h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-contact2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
}

.form-contact2 h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #111727; /* Warna teks judul */
    font-weight: bold;
}

.input-contact2 {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Shadow di dalam input */
}

.submit-contact2 {
    background-color: #111727; /* Warna latar belakang button */
    color: white;
    width: 30%;
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 15px;
    align-items: end;
    justify-content: center;
    margin-left: auto; /* Biar geser kekanan */
}

.submit-contact2:hover {
    background-color: #b3aeae; /* Warna saat di-hover */
}

textarea.input-contact2 {
    resize: none;
    height: 250px;
}

.input-checkbox {
    margin-right: 10px;
}

#projectsContainer {
    width: 80%;
    margin: 20px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tiga kolom */
    gap: 20px;
}

.input-file {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.input-file-container {
    width: 100%;
    margin-bottom: 20px;
}

/* MY PROJEECT BAWAH */
.line {
    display: none; /* Menghilangkan garis pemisah */
}

/* TULISAN MY PROJECT BAWAH */
.title-list {
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
}

.blog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tiga kolom */
    gap: 20px; /* Jarak antar item */
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 60px;
}

.project-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Tengahin konten */
    justify-content: space-between; /* Sebar konten secara vertikal */
    height: auto; /* Tinggi tetap untuk semua card */
    max-height: 100%;
}

.project-card img {
    min-height: 200px;
    height: 550px;
    width: 100%;
    max-height: 75%;  /* Maksimum tinggi untuk gambar */
    object-fit: cover; /* Pastikan gambar menutupi area yang diberikan tanpa menghilangkan rasio aspek */
    border-radius: 10px;
}

/* Atur area dan info di bawah gambar yang diupload */
.project-card .info {
    text-align: left; /* Mengatur teks agar rata kiri */
    width: 100%; /* Memastikan elemen mengambil seluruh lebar yang tersedia */
    margin-left: 10px; /* Menambahkan margin kiri jika diinginkan */
}

.project-card h3 {
    text-align: left; /* Mengatur teks agar rata kiri */
    width: 100%;
    margin-left: 10px;
    font-weight: bold; /* Mengatur teks menjadi bold */
    margin-bottom: 10px;
}

.project-card p {
    text-align: left; /* Mengatur teks agar rata kiri */
    width: 100%;
    margin-left: 10px;
}

/* Styles for edit and delete buttons */
.project-actions {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    gap: 20px;
}

.button {
    width: 35%; /* Set the button width to 35% */
    padding: 10px 20px; /* Adjust padding for bigger buttons */
    background-color: #111727;
    color: white;
    border-radius: 5px; /* Membulatkan ujung tombol */
    border: none;
    cursor: pointer;
    display: flex; /* Menjadikan tombol sebagai flex container */
    align-items: center; /* Menyelaraskan ikon dan teks di tengah secara vertikal */
    justify-content: center; /* Menyelaraskan ikon dan teks di tengah secara horizontal */
    gap: 50px; /* Memberi jarak antara ikon dan teks */
    font-size: 16px; /* Adjust font size */
    align-items: center;
}

.button:hover {
    background-color: #b3aeae;
}

.button i {
    margin-right: 5px;
}

/* Icon untuk button */
.button.edit::before {
    content: "\f044"; /* icon kode (pakai fontawesome) */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.button.delete::before {
    content: "\f1f8";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/* Styles for technology icons and text */
.project-technologies {
    display: flex;
    flex-wrap: wrap; /* Untuk memastikan teks terbungkus dengan benar */
    justify-content:center; /* Untuk memastikan konten dimulai dari kiri */
    width: 100%; /* Set width to 100% */
    padding-left: 20px;
    padding-right: 20px;
}

.project-technologies span {
    display: flex;
    align-items: center;
    margin: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px;
}
